<!DOCTYPE html>

<html>
    <head>
        <title> Tutorial </title>

    </head>

    <body>

        <h1 class = "text-center">Car Dealer Chatboat</h1>
        <form action="/" method="post">
            <label for="You">You:</label>
            <input type="text" id="You" name="You">
            <input type="submit" value="Submit">
        </form>

        <p class="text-center">BoAT: {}</p>
        <p> Note: If this is not you are looking for, please rephrase your question. </p>

    </body>

</html>

