<!DOCTYPE html>

<html>
    <head>
        <title> Car Dealer Chatboat </title>
       
    </head>

    <body>

        <h1 class = "text-center">Car Dealer Chatboat</h1>
        <form action="/" method="post">
            <label for="You">You:</label>
            <input type="text" id="You" name="You">
            <input type="submit" value="Connect to BoAT">
        </form>

        {% if prediction %}
            <p class="text-center">BoAT: {{prediction}}</p>
        {% endif %}

        <strong>NOTE:</strong> Start with below mentioned prompts for better experience:
        <ul>
          <li>Hi</li>
          <li>I want to buy a car</li>
        </ul>

        <div class="disclaimer">
            <p>Disclaimer: This is not a generative boat; it only works on pre-defined prompts.</p>
          </div>

        <div class="copyright">
            <p>&copy; All rights reserved by Uttam Asodariya</p>
          </div>

    </body>

</html>

